

<table *ngIf="standings | async as localStandings">
  <tr>
    <td></td>
    <td></td>
    <td>name</td>
    <td>played</td>
    <td>win</td>
    <td>lose</td>
    <td>draw</td>
    <td>Goal Difference</td>
    <td>points</td>
  </tr>

  <tr *ngFor="let standing of localStandings" (click)="openFixtures(standing.team.id)" >
    <td>{{ standing.rank }}</td>
    <td><img [src]="standing.team.logo" alt="" /></td>
    <td>{{ standing.team.name }}</td>
    <td>{{ standing.all.played }}</td>
    <td>{{ standing.all.win }}</td>
    <td>{{ standing.all.lose }}</td>
    <td>{{ standing.all.draw }}</td>
    <td>{{ standing.goalsDiff }}</td>
    <td>{{ standing.points }}</td>
  </tr>
</table>
