<table *ngIf="standings | async as localStandings; else noLeagueSelected">
  <th></th>
  <tr>
    <th></th>
    <th></th>
    <th>name</th>
    <th>played</th>
    <th>win</th>
    <th>lose</th>
    <th>draw</th>
    <th>Goal Difference</th>
    <th>points</th>
  </tr>

  <tr
    *ngFor="let standing of localStandings"
    (click)="openFixtures(standing.team.id)"
  >
    <td>{{ standing.rank }}</td>
    <td><img [src]="standing.team.logo" alt="" /></td>
    <td>{{ standing.team.name }}</td>
    <td>{{ standing.all.played }}</td>
    <td>{{ standing.all.win }}</td>
    <td>{{ standing.all.lose }}</td>
    <td>{{ standing.all.draw }}</td>
    <td>{{ standing.goalsDiff }}</td>
    <td>{{ standing.points }}</td>
  </tr>
</table>
<ng-template #noLeagueSelected>
  <h1>Please select a League</h1>
</ng-template>
