:host {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul {
    display: flex;
    margin-top: 5rem;
    background: #f3f3f8;
    margin-bottom: 1rem;
}

li {
    padding: 1rem;
}

li:hover {
    color: #fff;
    background: #404252;
    cursor: pointer;
}

.active {
    color: #fff;
    background: #404252;
}