img {
  width: 30px;
}

.home,
.away {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.away {
  justify-content: end;
}

:host() {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

:host() > div {
  width: 100%;
}
